%h1 Release Audits

= form_tag(feature_audit_path(params[:id]), method: "get") do
  = label_tag(:from, "From:")
  = text_field_tag(:from)
  = label_tag(:to, "To:")
  = text_field_tag(:to)
  = submit_tag("Submit")

- if @authors
  - @authors.each do |author|
    .author=author

- if @deploys.present?
  %h2 Deploys
  %table
    %tr
      - @deploys.first.try(:each_key) do |key|
        %th= key
    - @deploys.each do |deploy|
      %tr.deploy
        - deploy.each_value do |value|
          %td= value
