%h1 Repository Locations

= form_for(@new_repository_location, class: 'form-horizontal') do |form|
  .form-group.row
    = form.label(:name, class: 'col-md-1 control-label')
    .col-md-4
      = form.text_field(:name, class: 'form-control')
  .form-group.row
    = form.label(:uri, 'URI', class: 'col-md-1 control-label')
    .col-md-4
      = form.text_field(:uri, class: 'form-control')
  .form-group.row
    .col-md-offset-1.col-md-4
      = form.submit(class: 'btn btn-primary')


%table.table.table-striped
  %tr
    %th Name
    %th URI
  - @repository_locations.each do |repository_location|
    %tr[repository_location]
      %td= repository_location.name
      %td= repository_location.uri
