%h1 Release Audits

= form_tag(release_audit_path(params[:id]), method: "get") do
  = label_tag(:from, "From:")
  = text_field_tag(:from)
  = label_tag(:to, "To:")
  = text_field_tag(:to)
  = submit_tag("Submit")

- if @authors
  - @authors.each do |author|
    .author=author
