%h1 Feature Review

.row
  .col-lg-6
    .panel.summary{class: summary_panel_class(@projection.success?)}
      .panel-heading
        %h2
          %span.glyphicon{"aria-hidden" => "true", class: summary_panel_icon_class(@projection.success?)}
          Summary
      %ul.list-group
        %li.list-group-item
          %strong
            %span.status.glyphicon{"aria-hidden" => "true", class: summary_item_classes(@projection.build_status)}
            %span.title Tests
        %li.list-group-item
          %strong
            %span.status.glyphicon{"aria-hidden" => "true", class: summary_item_classes(@projection.deploy_status)}
            %span.title UAT environment
        %li.list-group-item
          %strong
            %span.status.glyphicon{"aria-hidden" => "true", class: summary_item_classes(@projection.qa_status)}
            %span.title QA (manual)

  .col-lg-6
    .panel.panel-info.app-info
      .panel-heading
        %h2 Apps under review
      %ul.list-group
        - @apps.each do |name, version|
          %li.list-group-item.app
            %strong.name= name
            %span.version= short_sha(version)
        %li.list-group-item
          Deployed to UAT
          %strong.uat-url= to_link(@uat_url, target: '_blank')

.row
  .col-lg-12
    .panel.panel-info.tickets
      .panel-heading
        %h2 Associated tickets
      %table.table.table-striped
        %thead
          %tr
            %th Key
            %th Summary
            %th Description
            %th Status
        %tbody
          - @projection.tickets.each do |ticket|
            %tr.ticket
              %td= ticket.key
              %td= ticket.summary
              %td= ticket.description
              %td= ticket.status

.row
  .col-lg-6
    .panel.deploys{class: panel_class(@projection.deploy_status)}
      .panel-heading
        %h2
          %span.glyphicon{"aria-hidden" => "true", class: panel_icon_class(@projection.deploy_status)}
          Apps on UAT
      %table.table.table-striped
        %thead
          %tr
            %th Correct
            %th App
            %th Version
        %tbody
          - @projection.deploys.each do |deploy|
            %tr.deploy
              %td
                %span.status.glyphicon{"aria-hidden" => "true", class: deploy_status_icon_class(deploy.correct)}
              %td= deploy.app_name
              %td= short_sha(deploy.version)
  .col-lg-6
    .panel.builds{class: panel_class(@projection.build_status)}
      .panel-heading
        %h2
          %span.glyphicon{"aria-hidden" => "true", class: panel_icon_class(@projection.build_status)}
          Builds
      %table.table.table-striped
        %thead
          %tr
            %th Status
            %th App
            %th Source
        %tbody
          - @projection.builds.each do |app_name, builds|
            - builds.each do |build|
              %tr.build
                %td
                  %span.status.glyphicon{"aria-hidden" => "true", class: build_status_icon_class(build.status)}
                %td= app_name
                %td= build.source

.row
  .col-lg-6
    .panel.qa-submission{class: panel_class(@projection.qa_status)}
      .panel-heading
        %h2
          %span.glyphicon{"aria-hidden" => "true", class: panel_icon_class(@projection.qa_status)}
          QA Acceptance
      - if @projection.qa_submission
        .panel-body
          %span.qa-name
            %strong= @projection.qa_submission.name
          at
          %span.qa-time= @projection.qa_submission.created_at
      .panel-footer
        = form_tag(events_path(type: 'manual_test'), method: 'post', class: 'form-inline') do
          = hidden_field_tag(:return_to, @return_to)
          = hidden_field_tag('testing_environment[uat_url]', @uat_url)
          - @apps.each do |app_name, version|
            = hidden_field_tag('testing_environment[apps][][name]', app_name)
            = hidden_field_tag('testing_environment[apps][][version]', version)
          .radio.qa-accept
            %label
              = radio_button_tag 'status', 'success', required: true
              Accept
          .radio.qa-reject
            %label
              = radio_button_tag 'status', 'failed', required: true
              Reject
          = label_tag('user[name]', 'Name', class: 'control-label sr-only')
          = text_field_tag('user[name]', '', placeholder: 'Firstname Surname', class: 'form-control qa-name-field', required: true)
          = submit_tag('Submit', class: 'btn btn-primary')

