%h1 Feature for review

%h3
  UAT environment
  %strong.uat_url= @uat_url


%h3 Associated tickets
%table.table.table-striped
  %thead
    %tr
      %th Key
      %th Summary
      %th Description
      %th Status
  %tbody
    - @projection.tickets.each do |ticket|
      %tr.ticket
        %td= ticket.key
        %td= ticket.summary
        %td= ticket.description
        %td= ticket.status

%table.table.table-striped
  %thead
    %tr
      %th Application
      %th Version
  %tbody
    - @apps.each do |name, version|
      %tr.app_info
        %td= name
        %td= version

- @projection.builds.each do |app_name, builds|
  %div{class: app_name}
    %h3= "Builds for #{app_name}"
    %table.table.table-striped
      %thead
        %tr
          %th Source
          %th Status
      %tbody
        - builds.each do |build|
          %tr.build
            %td= build.source
            %td= build.status

%h3 Deploys
%table.table.table-striped
  %thead
    %tr
      %th App
      %th Version
      %th Correct
  %tbody
    - @projection.deploys.each do |deploy|
      %tr.deploy
        %td= deploy.app_name
        %td= deploy.version
        %td= deploy.correct == :ignore ? '' : deploy.correct