%h1 Feature Review

.row
  .col-lg-6
    .panel.summary{class: panel_class(@presenter.summary_status)}
      .panel-heading
        %h2
          %span.glyphicon{"aria-hidden" => "true", class: panel_icon_class(@presenter.summary_status)}
          Summary
      %ul.list-group
        %li.list-group-item
          %strong
            %span.status.glyphicon{"aria-hidden" => "true", class: summary_item_classes(@presenter.build_status)}
            %span.title Builds
        %li.list-group-item
          %strong
            %span.status.glyphicon{"aria-hidden" => "true", class: summary_item_classes(@presenter.deploy_status)}
            %span.title UAT Environment
        %li.list-group-item
          %strong
            %span.status.glyphicon{"aria-hidden" => "true", class: summary_item_classes(@presenter.qa_status)}
            %span.title QA Acceptance

  .col-lg-6
    .panel.panel-info.app-info
      .panel-heading
        %h2 Apps Under Review
      %ul.list-group
        - @apps.each do |name, version|
          %li.list-group-item.app
            %strong.name= name
            %span.version= short_sha(version)
        %li.list-group-item
          - if @uat_url.present?
            Deployed to UAT
            %strong.uat-url= to_link(@uat_url, target: '_blank')
          - else
            No UAT specified

.row
  .col-lg-12
    .panel.panel-info.tickets
      .panel-heading
        %h2 Associated Tickets
      - if @presenter.tickets.empty?
        .panel-body No tickets found
      - else
        %table.table.table-striped
          %thead
            %tr
              %th Key
              %th Summary
              %th Description
              %th Status
          %tbody
            - @presenter.tickets.each do |ticket|
              %tr.ticket
                %td= ticket.key
                %td= ticket.summary
                %td= ticket.description
                %td= ticket.status

.row
  .col-lg-6
    .panel.deploys{class: panel_class(@presenter.deploy_status)}
      .panel-heading
        %h2
          %span.glyphicon{"aria-hidden" => "true", class: panel_icon_class(@presenter.deploy_status)}
          UAT Environment
      - if @presenter.deploys.empty?
        .panel-body No deploys found
      - else
        %table.table.table-striped
          %thead
            %tr
              %th Correct
              %th App
              %th Version
          %tbody
            - @presenter.deploys.each do |deploy|
              %tr.deploy
                %td
                  %span.status.glyphicon{"aria-hidden" => "true", class: deploy_status_icon_class(deploy.correct)}
                %td= deploy.app_name
                %td= short_sha(deploy.version)
  .col-lg-6
    .panel.builds{class: panel_class(@presenter.build_status)}
      .panel-heading
        %h2
          %span.glyphicon{"aria-hidden" => "true", class: panel_icon_class(@presenter.build_status)}
          Builds
      - if @presenter.builds.empty?
        .panel-body No builds found
      - else
        %table.table.table-striped
          %thead
            %tr
              %th Status
              %th App
              %th Source
          %tbody
            - @presenter.builds.each do |app_name, builds|
              - builds.each do |build|
                %tr.build
                  %td
                    %span.status.glyphicon{"aria-hidden" => "true", class: build_status_icon_class(build.status)}
                  %td= app_name
                  %td= build.source

.row
  .col-lg-6
    .panel.qa-submission{class: panel_class(@presenter.qa_status)}
      .panel-heading
        %h2
          %span.glyphicon{"aria-hidden" => "true", class: panel_icon_class(@presenter.qa_status)}
          QA Acceptance
      .panel-body
        - if @presenter.qa_submission
          %span.qa-name
            %strong= @presenter.qa_submission.name
          at
          %span.qa-time= @presenter.qa_submission.created_at
        - else
          Not reviewed by QA
      .panel-footer
        = form_tag(events_path(type: 'manual_test'), method: 'post', class: 'form-inline') do
          = hidden_field_tag(:return_to, @return_to)
          = hidden_field_tag('testing_environment[uat_url]', @uat_url)
          - @apps.each do |app_name, version|
            = hidden_field_tag('testing_environment[apps][][name]', app_name)
            = hidden_field_tag('testing_environment[apps][][version]', version)
          .radio.qa-accept
            %label
              = radio_button_tag 'status', 'success', required: true
              Accept
          .radio.qa-reject
            %label
              = radio_button_tag 'status', 'failed', required: true
              Reject
          = label_tag('user[name]', 'Name', class: 'control-label sr-only')
          = text_field_tag('user[name]', '', placeholder: 'Firstname Surname', class: 'form-control qa-name-field', required: true)
          = submit_tag('Submit', class: 'btn btn-primary')

