%h1 Feature Review

.row
  .col-lg-6
    .panel.summary{class: panel_class(@projection.success?)}
      .panel-heading
        %h2
          %span.glyphicon{"aria-hidden" => "true", class: panel_icon_class(@projection.success?)}
          Summary
      %ul.list-group
        %li.list-group-item
          %strong
            %span.status.glyphicon{"aria-hidden" => "true", class: summary_item_classes(@projection.build_status)}
            %span.title Tests
        %li.list-group-item
          %strong
            %span.status.glyphicon{"aria-hidden" => "true", class: summary_item_classes(@projection.deploy_status)}
            %span.title UAT environment
        %li.list-group-item
          %strong
            %span.status.glyphicon{"aria-hidden" => "true", class: summary_item_classes(@projection.qa_status)}
            %span.title QA (manual)

  .col-lg-6
    .panel.panel-info.app-info
      .panel-heading
        %h2
          Apps under review
      %ul.list-group
        - @apps.each do |name, version|
          %li.list-group-item.app
            %strong.name= name
            %span.version= short_sha(version)
        %li.list-group-item
          Deployed to UAT
          %strong.uat-url= to_link(@uat_url, target: '_blank')

%h3 Associated tickets
%table.table.table-striped
  %thead
    %tr
      %th Key
      %th Summary
      %th Description
      %th Status
  %tbody
    - @projection.tickets.each do |ticket|
      %tr.ticket
        %td= ticket.key
        %td= ticket.summary
        %td= ticket.description
        %td= ticket.status


- @projection.builds.each do |app_name, builds|
  %div{class: app_name}
    %h3= "Builds for #{app_name}"
    %table.table.table-striped
      %thead
        %tr
          %th Source
          %th Status
      %tbody
        - builds.each do |build|
          %tr.build
            %td= build.source
            %td= build.status

%h3
  Apps on UAT
%table.table.table-striped
  %thead
    %tr
      %th App
      %th Version
      %th Correct
  %tbody
    - @projection.deploys.each do |deploy|
      %tr.deploy
        %td= deploy.app_name
        %td= deploy.version
        %td= deploy.correct == :ignore ? '' : deploy.correct

%h3 QA acceptance

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Status
      %th Time
  %tbody
    %tr.qa-submission
      %td= @projection.qa_submission.try(:name)
      %td= @projection.qa_submission.try(:status)
      %td= @projection.qa_submission.try(:created_at)

= form_tag(events_path(type: 'manual_test'), method: 'post', class: 'form-horizontal') do
  = hidden_field_tag(:return_to, @return_to)
  = hidden_field_tag('testing_environment[uat_url]', @uat_url)
  - @apps.each do |app_name, version|
    = hidden_field_tag('testing_environment[apps][][name]', app_name)
    = hidden_field_tag('testing_environment[apps][][version]', version)
  .row
    .radio.col-md-1
      %label
        = radio_button_tag 'status', 'success', required: true
        Accept
    .radio.col-md-1
      %label
        = radio_button_tag 'status', 'failed', required: true
        Reject
    = label_tag('user[name]', 'Name', class: 'col-md-1 control-label')
    .col-md-6
      = text_field_tag('user[name]', '', placeholder: 'Firstname Surname', class: 'form-control', required: true)
    .col-md-2
      = submit_tag('Submit', class: 'btn btn-primary')

