%h1
  - if @presenter.locked?
    - icon('icon-lock', tooltip: 'Feature Review is locked (all tickets done)')
  Feature Review

.row
  .col-lg-6
    - panel(heading: 'Summary', status: @presenter.summary_status, klass: 'summary') do
      %ul.list-group
        %li.list-group-item
          %strong
            - icon(item_status_icon_class(@presenter.build_status))
            %span.title Test Results
        %li.list-group-item
          %strong
            - icon(item_status_icon_class(@presenter.deploy_status))
            %span.title UAT Environment
        %li.list-group-item
          %strong
            - icon(item_status_icon_class(@presenter.qa_status))
            %span.title QA Acceptance
        %li.list-group-item
          %strong
            - icon(item_status_icon_class(@presenter.uatest_status))
            %span.title User Acceptance Tests

  .col-lg-6
    - panel(heading: 'Apps Under Review', klass: 'app-info') do
      %ul.list-group
        - @apps.each do |name, version|
          %li.list-group-item.app
            %strong.name= name
            %span.version= short_sha(version)
        %li.list-group-item
          - if @presenter.uat_url
            Deployed to UAT
            %strong.uat-url= to_link(@presenter.uat_url, target: '_blank')
          - else
            No UAT specified

.row
  .col-lg-12
    - panel(heading: 'Associated Tickets', klass: 'tickets') do
      - if @presenter.tickets.empty?
        .panel-body No tickets found
      - else
        - table(headers: %w(Key Summary Status)) do
          - @presenter.tickets.each do |ticket|
            %tr.ticket
              %td= ticket.key
              %td= ticket.summary
              %td= ticket.status

.row
  .col-lg-6
    - panel(heading: 'UAT Environment', klass: 'deploys', status: @presenter.deploy_status) do
      - if @presenter.deploys.empty?
        .panel-body No deploys found
      - else
        - table(headers: %w(Correct App Version)) do
          - @presenter.deploys.each do |deploy|
            %tr.deploy
              %td
                - icon(item_status_icon_class(deploy.correct))
              %td= deploy.app_name
              %td= short_sha(deploy.version)

  .col-lg-6
    - panel(heading: 'Test Results', klass: 'builds', status: @presenter.build_status) do
      - if @presenter.builds.empty?
        .panel-body No builds found
      - else
        - table(headers: %w(Status App Source)) do
          - @presenter.builds.each do |app_name, build|
            %tr.build
              %td
                - icon(item_status_icon_class(build.success))
              %td= app_name
              %td= build.source

.row
  .col-lg-6
    - panel(heading: 'QA Acceptance', klass: 'qa-submission', status: @presenter.qa_status) do
      .panel-body
        - if @presenter.qa_submission
          %p
            %span.qa-email
              %strong= @presenter.qa_submission.email
            at
            %span.qa-time= @presenter.qa_submission.created_at
          = simple_format(@presenter.qa_submission.comment, class: 'qa-comment')
        - else
          Not reviewed by QA
      .panel-footer
        = form_tag(events_path(type: 'manual_test', return_to: @return_to), method: 'post') do
          - @apps.each do |app_name, version|
            = hidden_field_tag('apps[][name]', app_name)
            = hidden_field_tag('apps[][version]', version)
          %label.radio-inline.qa-accept
            = radio_button_tag 'status', 'success', false, required: true, disabled: @presenter.locked?
            Accept
          %label.radio-inline.qa-reject
            = radio_button_tag 'status', 'failed', false, required: true, disabled: @presenter.locked?
            Reject
          .form-group
            = label_tag('comment', 'Comment', class: 'control-label sr-only')
            = text_area_tag('comment', '', placeholder: 'Comment', class: 'form-control', required: true, disabled: @presenter.locked?, rows: 4)
          = submit_tag('Submit', class: 'btn btn-primary', disabled: @presenter.locked?)
  .col-lg-6
    - panel(heading: 'User Acceptance Tests', klass: 'uatest', status: @presenter.uatest_status) do
      .panel-body
        - if @presenter.uatest
          Ran test suite version
          %span.uat-version= @presenter.uatest.test_suite_version
        - else
          Could not find User Acceptance Tests that ran against expected UAT
          = "(#{@presenter.uat_url})" if @presenter.uat_url
          with the app versions that are under review.
