%h1 Prepare feature for review

= form_for(@feature_review_form, url: feature_reviews_path, html: { class: 'form-horizontal' }) do |f|
  %ul
    - @feature_review_form.errors.full_messages.each do |error|
      %li= error

  .row
    .col-md-6
      %h3 Applications

  = f.fields_for :apps do |field|
    - @app_names.each do |app_name|
      .form-group.row{class: @feature_review_form.errors[app_name].any? ? 'has-error' : nil }
        = field.label app_name, app_name, class: 'col-md-2 control-label'
        .col-md-4
          = field.text_field app_name, class: 'form-control'
          - @feature_review_form.errors[app_name].each do |error|
            %span.help-inline= error

  .row
    .col-md-6
      %h3 User Acceptance Testing
  .form-group.row
    = f.label(:uat_url, "UAT environment", class: 'col-md-2 control-label')
    .col-md-4
      = f.text_field(:uat_url, placeholder: "URL", class: 'form-control')
  .row
    .col-md-6
      = f.submit("Submit", class: "btn btn-primary pull-right")
