- title 'Feature Review Search'

= form_tag(search_feature_reviews_path, method: "get", class: 'form-horizontal', id: 'search-form') do
  .form-group
    = label_tag("application", "Application", class: 'col-sm-2 control-label')
    .col-sm-10
      = select_tag("application", options_for_select(@applications, @application), class: 'form-control')
  .form-group
    = label_tag("version", "Version", class: 'col-sm-2 control-label')
    .col-sm-10
      = text_field_tag("version", @version, placeholder: "Commit SHA", class: 'form-control')
  .form-group
    .col-sm-offset-2.col-sm-4
      = submit_tag("Search", class: "btn btn-primary")

- if @links.present?
  %table.table.table-striped
    %tr
      %th Feature Review Link
    - @links.each do |link|
      %tr
        %td= link_to 'Link', link, class: 'feature_review_link'
