= form_for @token, html: { class: 'form-inline' } do |f|
  .form-group
    = f.label :source
    = f.text_field :source, class: 'form-control'
    = f.submit 'Create Token', class: 'btn btn-primary'

- table headers: %w(Source URL Actions), classes: 'tokens' do
  - @tokens.each do |token|
    %tr
      %td= token.source
      %td= events_url(type: token.source, token: token.value)
      %td
        = link_to(token, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger action-revoke') do
          %span.glyphicon.glyphicon-remove{aria: {hidden: true}}
