- title 'Event Tokens'

%p
  Events need to be authenticated for Shipment Tracker to accept them.
  This is done through a token in the endpoint URL.

%p
  On this page you can create tokens for new events and give them a descriptive name.
  Names can be edited by clicking on them.

%p
  When a token is no longer needed, it can be revoked by clicking on the x next to it.

= form_for @token, html: { class: 'form-inline' } do |f|
  .form-group
    = f.label :source
    = f.select :source, options_from_collection_for_select(@sources, :endpoint, :name), {}, class: 'form-control'
    = f.label :name
    = f.text_field :name, class: 'form-control'
    = f.submit 'Create Token', class: 'btn btn-primary'

- table headers: %w(Source Name URL Actions), classes: 'tokens' do
  - @tokens.each do |token|
    %tr
      %td= token.source_name
      %td
        %a.js-editable{href: '#', data: {pk: token.id, name: 'name', type: 'text', url: token_path(token)}}= token.name
      %td= events_url(type: token.source, token: token.value)
      %td
        = link_to(token, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger action-revoke') do
          %span.glyphicon.glyphicon-remove{aria: {hidden: true}}
