%h1= "Issue Audit for #{params[:id]}"

%h3 Tickets
%table.table.table-striped
  %thead
    %tr
      %th key
      %th summary
      %th status
      %th approver email
      %th approved at
  %tbody
    %tr.ticket
      %td= @reports.first.ticket.key
      %td= @reports.first.ticket.summary
      %td= @reports.first.ticket.status
      %td= @reports.first.ticket.approver_email
      %td= @reports.first.ticket.approved_at.try(:utc)

- @reports.each do |report|
  %div{class: report.app_name}
    = render partial: 'issue_audit', locals: { report: report }
