- title "Releases for #{@app_name}"

%table.table
  %thead
    %tr
      %th id
      %th date
      %th message
      %th feature review
  %tbody
  - @releases.each do |release|
    %tr.release{class: ('danger' unless release.approved)}
      %td= release.version
      %td= release.time
      %td= release.subject
      %td= link_to release.feature_review_status, release.feature_review_path if release.feature_review_path
